<h1><%= @world.title %></h1>
<h4>Difficulty: <%= @world.difficulty %></h4>
<div class="divider"></div>
<div class="row">
  <div class="col l12">
    <div class='t_large_image_holder'>
      <%= render 'layouts/character_select' %>
      <%= image_tag @world.image.url %>
    </div>
  </div>
</div>


