.t_image_holder{
  width: 300px;
  height: 180px;
  overflow: hidden;
}

.t_large_image_holder{
  position: relative;
  max-width: 1000px;
  min-width: 1000px;
  img {
    width: 100%;
    //width: 90vw; this would make it 90% of view window, but it doesn't re-center it. 70% (set by container in application.html) is still small for many of these pictures)
  }
}

.character_select{
  position: absolute;
  z-index: 50;
  max-width: 300px;
  .collection, .with-header {
    margin-top: 0;
  }
}

.found{
  background-color: #DFDFDF;
  font-style: italic;
  text-decoration: line-through;
}

.unfound{
  font-style: normal;
  text-decoration: none;
}