<div class="character_select">
  <div class="collection with-header">
    <div class="collection-header"><p><b>Who did you find?</b></p></div>
    <a href="#" class="collection-item avatar" id="waldo_select" data-remote="true">
      <%= image_tag "waldo_char_torso.jpg", class: "circle", alt: "waldo" %> 
      <span class="title">Waldo</span>
    </a>
    <a href="#" class="collection-item avatar" id="whitebeard_select" data-remote="true">
      <%= image_tag "whitebeard_char_torso.jpg", class: "circle", alt: "whitebeard" %> 
      <span class="title">Whitebeard</span>
    </a>
    <a href="#" class="collection-item avatar" id="odlaw_select" data-remote="true">
      <%= image_tag "odlaw_char_torso.jpg", class: "circle", alt: "odlaw" %> 
      <span class="title">Odlaw</span>
    </a>
    <a href="#" class="collection-item avatar" id="wenda_select" data-remote="true">
      <%= image_tag "wenda_char_torso.jpg", class: "circle", alt: "wenda" %> 
      <span class="title">Wenda</span>
    </a>
    <a href="#" class="collection-item" id="nevermind" data-remote="true">
      <span class="title">Nevermind...</span>
    </a>
  </div>
</div>